<head>
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheet/text.css" />
    <script src="../javasclipt/map.js"></script>
  </head>
  <body>
    <input
      id="pac-input"
      class="controls"
      type="text"
      placeholder="Search Box"
    />
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQKp3g-slof3FTN3YY8rN8HLxmPcUmWQc&libraries=places&libraries=places&v=initMap"
      async
    ></script>
  </body>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @mountains.each do |mountain| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to mountain_path(mountain) do %>
                    <%= image_tag mountain.image if mountain.image.present? %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to mountain.name, mountain_path(mountain) %></div>
                </div>
              </div>
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to mountain.season, mountain_path(mountain) %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
