
 
  


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @mountains.each do |mountain| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to mountain_path(mountain) do %>
                    <%= image_tag mountain.image if mountain.image.present? %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to mountain.name, mountain_path(mountain) %></div>
                </div>
              </div>
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to mountain.season, mountain_path(mountain) %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>